// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#mymap {
  height: 500px;
  z-index: 1;
}

#minimap {
  height: 300px;
  z-index: 1;
}

.algoliabox {
  z-index: 2;
}
