// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'verifiedLoader';

// Variables
@import 'variables';
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/animations/scale.css';
@import '~tippy.js/animations/scale-subtle.css';
// Bootstrap
// @import '~bootstrap/scss/bootstrap';

#minimap {
  height: 300px;
  z-index: 1;
}


// GENERAL
.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 1rem;
  border: 1px solid black;
}
.row {
  display: grid;
  grid-gap: 1rem;
}
.item {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}
.printTasksContainer {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.centeredDiv {
  width: 100%;
  text-align: center;
}
.bigTitle {
  font-style: italic;
}

// PRINTJOB PAGE
.page-item {
  display: inline-block;
  padding: 5px;
}
.pagination {
  text-align: center;
}
.statusGreen {
  color: green;
}
.statusRed {
  color: red;
}

// PRINTJOB DETAILS & CHAT

.chatMessages {
  background-color: rgb(247, 247, 247);
  height: 300px;
  // max-height: 300px;
  width: 100%;
  overflow-y: scroll;
  word-wrap: break-word;

  &::-webkit-scrollbar {
  width: 10px;
}

&::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

&::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

}
//FILE UPLOAD
.letsEncrypt {
  height: 80px;
}


// HOME
#mymap {
  height: calc(100vh - 112.781px);
  z-index: 1;
}

.algoliaboxmap {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 900;
  width: 450px;
  font-size: 1.3em;
  input {
    border-radius: 50px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 12px 0;
    height: 60px;
    border: none;
    padding-left: 25px;
  }
}
.ap-dropdown-menu {
  width: calc(100% - 40px) !important;
  left: 20px !important;
  right: 20px !important;
}
.logo_icon {
  position: absolute;
  bottom: 35px;
  right: 65px;
  z-index: 900;
  height: 28px;
}
@media (max-width: 1025px) {
  .algoliabox {
    width: calc(100% - 40px);
    right: 20px;
  }
}

// HOME (MarkerCLusterCirkle)
.marker-cluster-small {
  background-color: rgba(255,0,102,0.19);
  color: white;
}
.marker-cluster-small {
  div {
    background-color: #FF0066;
  }
}

// HOME (Leaflet map)
.leaflet-popup-tip {
    width: 0px;
    height: 0px;
  }
.leaflet-popup-content-wrapper {
  width: 250px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2) !important;
}
.leaflet-popup-content {
  width: 100% !important;
  margin: 0px !important;
  padding: 40px;
}




// Navbar
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	min-height: 100vh;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;

  img {
    height: 30px;
  }
}

.main-nav {
	margin-top: 5px;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 2px;

}
.logo a,
.main-nav a {
	padding: 10px 6px;
	text-align: center;
	display: block;
}

.header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background-color: #FF0066;
  flex-direction: column;
  align-items: center;
    .header{
      width: 80%;
      margin: 0 auto;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
}

.header,
.main-nav {
  display: flex;
}

.main-nav a {
  color: rgb(255,252,255);
  transition: 0.1s;
  position: relative;
}
.main-nav:hover {
  a {
      color: rgba(255,252,255, 0.7);
  }
}
.main-nav a:hover {
  color: rgb(255,252,255);
}
.lighter {
  color: rgba(255,252,255, 0.7) !important;
}
.brighter {
  color: rgb(255,252,255)!important;
}
.chatBadge {
  font-size: 10px;
  position: absolute;
  top: 1px;
  right: -2px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 2px;
  color: #FF0066;
}


/* =================================
  Media Queries
==================================== */


@media (min-width: 1025px) {
  #mymap{
    height: calc(100vh - 98px);
  }
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
  .main-nav a {
    padding: 10px 25px;
    font-size: 0.99em !important;
  }
  .main-nav {
    margin-right: 40px !important;
  }
  .logo {
    margin-left: 40px !important;
    img {
      vertical-align:bottom;
      height: 50px;
    }
  }

  .row { grid-template-columns: repeat(2, 1fr); }

  .leaflet-popup-content-wrapper {
    width: 400px;
  }

  .chatBadge {
    top: 2px;
    right: 9px;
    background-color: rgba(255, 255, 255, 0.6);
  }
}
