// Fonts
@import 'verifiedLoader';

// Variables
@import 'variables';
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/animations/scale.css';
@import '~tippy.js/animations/scale-subtle.css';
// Bootstrap
// @import '~bootstrap/scss/bootstrap';

#minimap {
  height: 300px;
  z-index: 1;
}


// GENERAL
* {
	box-sizing: border-box;
  font-family: Rubik;
}
body {
	margin: 0;
}
a {
	text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 45px;
  margin-top: 20px;
  background-color: rgb(249, 249, 249);
}
.row {
  display: grid;
  grid-gap: 1rem;
}
.item {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}
.printTasksContainer {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.centered {
  width: 100%;
  text-align: center;
}
.bigTitle {
  font-size: 35px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 40px;
  color: rgb(56, 56, 56);
}

// PRINTJOB PAGE
.page-item {
  display: inline-block;
  padding: 5px;
}
.pagination {
  text-align: center;
}
.statusGreen {
  color: green;
}
.statusRed {
  color: red;
}

// LOGIN

.lr-page {
  padding: 8% 0 0;
  margin: auto;
  border-radius: 15px;
}
.form-lr {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  padding-top: 20px;
  text-align: center;
  border-radius: 15px;
  .errors {
    font-size: 14px;
    color:#FF0066;
  }
}
.form-lr input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-lr button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FF0066;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-lr button:hover,.form button:active,.form button:focus {
  background: #FF0066;
}
.form-lr .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form-lr .message a {
  color: #FF0066;
  text-decoration: none;
}
.remember {
    margin: 15px 0 0;
  .checkbox {
    width: auto;
    vertical-align:middle;
    margin: 0px !important;
    margin-right: 5px !important;
    color: #b3b3b3;
    border-radius: 0px !important;
    }
  .label {
    font-size: 12px;
    color: #b3b3b3;
  }
}
.lr-icon {
  height: 25px;
  margin: 0 auto;
  opacity: 0.8;
}

// PRINTJOB DETAILS & CHAT
.chatMessages {
  background-color: rgb(247, 247, 247);
  height: 500px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 100%;
  overflow-y: scroll;

  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
  width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }
}

.chatWrapper {
  overflow: auto;
  height: auto !important;
  margin-top: 20px;
  margin-bottom: 20px;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li{
    display:inline-block;
    clear: both;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 6px;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 250px;
    word-wrap: break-word;
  }
}
.sysMessageWrapper {
  width: 100%;
  overflow: auto;
  height: auto !important;
  text-align: center;
}
.sysMessage {
  width: 100%;
  background: rgb(242, 207, 101);
}
.chatDate {
  font-size: 14px;
  opacity: 0.7;
  display: block;
}
.other{
  background: #FF0066;
  color: white;
  float: left;
  margin-left: 10px;
}

.me{
  float: right;
  background: #eee;
  margin-right: 10px;
}




//FILE UPLOAD
.letsEncrypt {
  height: 80px;
}
.rowFilesAndPrinter {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  .wrapper {
    text-align: center;
    .block {
      background: white;
      border-radius: 40px;
      padding: 20px;
      height: 150px;
      width: 300px;
      margin-top: 20px;
    }
  }
}
.fileUpload {
  height: 100%;
  width: 100%;
  cursor: pointer;

  background: url('https://socialprint-site-files.s3.eu-west-3.amazonaws.com/upload.svg') 0 0 no-repeat;
  opacity: 0.5;
  background-position: 50%, 50%;
  background-size: 40px 40px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  outline: none;

  &:hover {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
}



// HOME
#mymap {
  height: calc(100vh - 117px);
  z-index: 1;
}

.algoliaboxmap {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 900;
  width: 450px;
  font-size: 1.3em;
  input {
    border-radius: 50px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 12px 0;
    height: 60px;
    border: none;
    padding-left: 25px;
  }
}
.ap-dropdown-menu {
  width: calc(100% - 40px) !important;
  left: 20px !important;
  right: 20px !important;
}
.logo_icon {
  position: absolute;
  bottom: 35px;
  right: 65px;
  z-index: 900;
  height: 28px;
}


// HOME (MarkerCLusterCirkle)
.marker-cluster-small {
  background-color: rgba(255,0,102,0.19);
  color: white;
}
.marker-cluster-small {
  div {
    background-color: #FF0066;
  }
}

// HOME (Leaflet map)
.leaflet-popup-tip {
    width: 0px;
    height: 0px;
  }
.leaflet-popup-content-wrapper {
  width: 250px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2) !important;
}
.leaflet-popup-content {
  width: 100% !important;
  margin: 0px !important;
  padding: 40px;
}




// Navbar
.logo {
	margin: 0;

  img {
    height: 30px;
    margin-bottom: 10px;
  }
}
.main-nav {
	margin-top: 5px;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 2px;

}
.logo a,
.main-nav a {
	padding: 10px 6px;
	text-align: center;
	display: block;
  font-size: 0.8em;
}
.header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background-color: #FF0066;
  flex-direction: column;
  align-items: center;
    .header{
      width: 80%;
      margin: 0 auto;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
}
.header,
.main-nav {
  display: flex;
}
.main-nav a {
  color: rgb(255,252,255);
  transition: 0.1s;
  position: relative;
}
.main-nav:hover {
  a {
      color: rgba(255,252,255, 0.7);
  }
}
.main-nav a:hover {
  color: rgb(255,252,255);
}
.lighter {
  color: rgba(255,252,255, 0.7) !important;
}
.brighter {
  color: rgb(255,252,255)!important;
}
.chatBadge {
  font-size: 10px;
  position: absolute;
  top: 1px;
  right: -2px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 2px;
  color: #FF0066;
}


/* =================================
  Media Queries
==================================== */


@media (min-width: 1025px) {
  #mymap{
    height: calc(100vh - 98px);
  }
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
  .main-nav a {
    padding: 10px 25px;
    font-size: 1.1em !important;
  }
  .main-nav {
    margin-right: 40px !important;
  }
  .logo {
    margin-left: 40px !important;
    img {
      vertical-align:bottom;
      height: 50px;
      margin-bottom: 0px;
    }
  }

  .row { grid-template-columns: repeat(2, 1fr); }

  .leaflet-popup-content-wrapper {
    width: 400px;
  }

  .chatBadge {
    top: 2px;
    right: 9px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .chatWrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    ul li{
      max-width: 500px;
    }
  }

  .other{;
    margin-left: 40px;
  }

  .me{
    margin-right: 40px;
  }
}


@media (max-width: 1025px) {
  .algoliabox {
    width: calc(100% - 40px);
    right: 20px;
  }
  .bigTitle {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 25px;
  }
  .container {
    padding: 15px;
  }
  .rowFilesAndPrinter {
    display: block;
    .wrapper {
      margin-top: 30px;

      .block {
              width: 100%;

      }
    }
  }
}
