@import url(https://fonts.googleapis.com/css?family=Nunito);#mymap {
  height: calc(100vh - 94.8px);
  z-index: 1;
}

#minimap {
  height: 300px;
  z-index: 1;
}

.algoliabox {
  position: absolute;
  top: 50px;
  left: 40px;
  z-index: 900;
}

.algoliabox input {
  border-radius: 50px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 12px 0;
          box-shadow: rgba(0, 0, 0, 0.2) 0 2px 12px 0;
  height: 70px;
  width: 400px;
  border: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
}

.logo img {
  height: 30px;
}

.main-nav {
  margin-top: 5px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 2px;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #fff;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  background-color: #FF0066;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header {
  width: 80%;
  margin: 0 auto;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header,
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 1025px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main-nav a {
    padding: 10px 25px;
  }

  .main-nav {
    margin-right: 40px !important;
  }

  .logo {
    margin-left: 40px !important;
  }

  .logo img {
    vertical-align: bottom;
    height: 50px;
  }
}

