@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;

400;500;700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap);.tippy-box[data-animation=fade][data-state=hidden]{opacity:0}[data-tippy-root]{max-width:calc(100vw - 10px)}.tippy-box{position:relative;background-color:#333;color:#fff;border-radius:4px;font-size:14px;line-height:1.4;outline:0;transition-property:transform,visibility,opacity}.tippy-box[data-placement^=top]>.tippy-arrow{bottom:0}.tippy-box[data-placement^=top]>.tippy-arrow:before{bottom:-7px;left:0;border-width:8px 8px 0;border-top-color:initial;transform-origin:center top}.tippy-box[data-placement^=bottom]>.tippy-arrow{top:0}.tippy-box[data-placement^=bottom]>.tippy-arrow:before{top:-7px;left:0;border-width:0 8px 8px;border-bottom-color:initial;transform-origin:center bottom}.tippy-box[data-placement^=left]>.tippy-arrow{right:0}.tippy-box[data-placement^=left]>.tippy-arrow:before{border-width:8px 0 8px 8px;border-left-color:initial;right:-7px;transform-origin:center left}.tippy-box[data-placement^=right]>.tippy-arrow{left:0}.tippy-box[data-placement^=right]>.tippy-arrow:before{left:-7px;border-width:8px 8px 8px 0;border-right-color:initial;transform-origin:center right}.tippy-box[data-inertia][data-state=visible]{transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)}.tippy-arrow{width:16px;height:16px;color:#333}.tippy-arrow:before{content:"";position:absolute;border-color:transparent;border-style:solid}.tippy-content{position:relative;padding:5px 9px;z-index:1}.tippy-box[data-animation=scale][data-placement^=top]{transform-origin:bottom}.tippy-box[data-animation=scale][data-placement^=bottom]{transform-origin:top}.tippy-box[data-animation=scale][data-placement^=left]{transform-origin:right}.tippy-box[data-animation=scale][data-placement^=right]{transform-origin:left}.tippy-box[data-animation=scale][data-state=hidden]{transform:scale(.5);opacity:0}.tippy-box[data-animation=scale-subtle][data-placement^=top]{transform-origin:bottom}.tippy-box[data-animation=scale-subtle][data-placement^=bottom]{transform-origin:top}.tippy-box[data-animation=scale-subtle][data-placement^=left]{transform-origin:right}.tippy-box[data-animation=scale-subtle][data-placement^=right]{transform-origin:left}.tippy-box[data-animation=scale-subtle][data-state=hidden]{transform:scale(.8);opacity:0}.verifiedwrapper {
  margin-top: 40vh;
  text-align: center;
}

@-webkit-keyframes outline {
  from {
    stroke-dasharray: 0, 345.576px;
  }

  to {
    stroke-dasharray: 345.576px, 345.576px;
  }
}

@keyframes outline {
  from {
    stroke-dasharray: 0, 345.576px;
  }

  to {
    stroke-dasharray: 345.576px, 345.576px;
  }
}

#outline {
  -webkit-animation: 0.38s ease-in outline;
          animation: 0.38s ease-in outline;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes circle {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes circle {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

#white-circle {
  -webkit-animation: 0.35s ease-in 0.35s forwards circle;
          animation: 0.35s ease-in 0.35s forwards circle;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes check {
  from {
    stroke-dasharray: 0, 75px;
  }

  to {
    stroke-dasharray: 75px, 75px;
  }
}

@keyframes check {
  from {
    stroke-dasharray: 0, 75px;
  }

  to {
    stroke-dasharray: 75px, 75px;
  }
}

#check {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 1, 1) 3s forwards;
          animation: stroke 0.3s cubic-bezier(0.65, 0, 1, 1) 3s forwards;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes check-group {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes check-group {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#check-group {
  -webkit-animation: 0.32s ease-in-out 1.03s check-group;
          animation: 0.32s ease-in-out 1.03s check-group;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

#minimap {
  height: 300px;
  z-index: 1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Rubik;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
  padding: 70px;
  background-color: #f9f9f9;
  min-height: calc(100vh - 98px);
}

.row {
  display: grid;
  grid-gap: 1rem;
}

.item {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

.printTasksContainer {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.centered {
  width: 100%;
  text-align: center;
}

.bigTitle {
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 45px;
  color: #383838;
}

.vhFirstPage {
  height: calc(100vh - 98px);
}

.button-primary {
  display: inline-block;
  padding: 16px 40px;
  border-radius: 58px;
  background-color: #2b44ff;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
  border: none;
}

.button-primary:hover {
  opacity: 0.9;
}

.marginafterMedium {
  margin-bottom: 20px !important;
}

.errors {
  font-size: 14px;
  color: #FF0066;
}

.marginTop {
  margin-top: 40px;
}

.success {
  font-size: 14px;
  color: #138a2d;
}

.smallGrey {
  color: grey;
  font-size: 13px;
}

.infoMini {
  color: #bab6b6;
  font-size: 12px;
  display: block;
  margin-top: 15px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  letter-spacing: 1px;
}

.infoMini:hover {
  color: #959595;
}

.infoIcon {
  height: 16px;
  vertical-align: middle;
  opacity: 0.5;
}

.profilePicture {
  border-radius: 1000px;
  height: 70px;
  width: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.graphicContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f4f1f1;
}

.graphicContainer img {
  height: 600px;
  z-index: 5;
}

.graphicContainer img:first-of-type {
  margin-left: -90px;
}

.graphicContainer img:last-of-type {
  margin-right: -120px;
}

.graphicContainer .frontPageInfoBlock {
  margin-top: -40px;
}

.graphicContainer .frontPageTitle {
  font-size: 85px;
  display: block;
  margin: 10px;
  font-family: "Merriweather", serif;
}

.graphicContainer .frontPageSubtitle {
  font-size: 30px;
  font-family: "Arapey", serif;
  display: block;
  padding-bottom: 40px;
}

.graphicContainer .frontPageSubtitle .underline {
  font-family: "Arapey", serif;
  text-decoration: none;
  border-bottom: 1px solid #5C63AB;
  border-bottom-style: dotted;
}

.graphicContainer .frontPageInfoBlock {
  text-align: center;
}

.particle-container {
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  height: 100%;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(52vw, 1vh, 53px);
            transform: translate3d(52vw, 1vh, 53px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(52vw, 1vh, 53px);
            transform: translate3d(52vw, 1vh, 53px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 80s infinite;
          animation: particle-animation-1 80s infinite;
  opacity: 0.51;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(23vw, 48vh, 85px);
          transform: translate3d(23vw, 48vh, 85px);
  background: #acd926;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(47vw, 51vh, 84px);
            transform: translate3d(47vw, 51vh, 84px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(47vw, 51vh, 84px);
            transform: translate3d(47vw, 51vh, 84px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 80s infinite;
          animation: particle-animation-2 80s infinite;
  opacity: 0.85;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(53vw, 2vh, 54px);
          transform: translate3d(53vw, 2vh, 54px);
  background: #26d9ca;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(51vw, 48vh, 78px);
            transform: translate3d(51vw, 48vh, 78px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(51vw, 48vh, 78px);
            transform: translate3d(51vw, 48vh, 78px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 80s infinite;
          animation: particle-animation-3 80s infinite;
  opacity: 0.45;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(50vw, 62vh, 57px);
          transform: translate3d(50vw, 62vh, 57px);
  background: #c7d926;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(7vw, 73vh, 53px);
            transform: translate3d(7vw, 73vh, 53px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(7vw, 73vh, 53px);
            transform: translate3d(7vw, 73vh, 53px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 80s infinite;
          animation: particle-animation-4 80s infinite;
  opacity: 0.81;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(24vw, 25vh, 69px);
          transform: translate3d(24vw, 25vh, 69px);
  background: #26d93b;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(88vw, 15vh, 94px);
            transform: translate3d(88vw, 15vh, 94px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(88vw, 15vh, 94px);
            transform: translate3d(88vw, 15vh, 94px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 80s infinite;
          animation: particle-animation-5 80s infinite;
  opacity: 0.26;
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(86vw, 40vh, 62px);
          transform: translate3d(86vw, 40vh, 62px);
  background: #d926c7;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(50vw, 81vh, 34px);
            transform: translate3d(50vw, 81vh, 34px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(50vw, 81vh, 34px);
            transform: translate3d(50vw, 81vh, 34px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 80s infinite;
          animation: particle-animation-6 80s infinite;
  opacity: 0.76;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(56vw, 77vh, 33px);
          transform: translate3d(56vw, 77vh, 33px);
  background: #a026d9;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(66vw, 55vh, 77px);
            transform: translate3d(66vw, 55vh, 77px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(66vw, 55vh, 77px);
            transform: translate3d(66vw, 55vh, 77px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 80s infinite;
          animation: particle-animation-7 80s infinite;
  opacity: 0.67;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(39vw, 74vh, 86px);
          transform: translate3d(39vw, 74vh, 86px);
  background: #26d994;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(45vw, 90vh, 64px);
            transform: translate3d(45vw, 90vh, 64px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(45vw, 90vh, 64px);
            transform: translate3d(45vw, 90vh, 64px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 80s infinite;
          animation: particle-animation-8 80s infinite;
  opacity: 0.16;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(49vw, 63vh, 47px);
          transform: translate3d(49vw, 63vh, 47px);
  background: #d926b2;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(87vw, 85vh, 96px);
            transform: translate3d(87vw, 85vh, 96px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(87vw, 85vh, 96px);
            transform: translate3d(87vw, 85vh, 96px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 80s infinite;
          animation: particle-animation-9 80s infinite;
  opacity: 0.62;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(8vw, 60vh, 91px);
          transform: translate3d(8vw, 60vh, 91px);
  background: #d9a626;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(45vw, 55vh, 16px);
            transform: translate3d(45vw, 55vh, 16px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(45vw, 55vh, 16px);
            transform: translate3d(45vw, 55vh, 16px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 80s infinite;
          animation: particle-animation-10 80s infinite;
  opacity: 0.98;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(29vw, 10vh, 68px);
          transform: translate3d(29vw, 10vh, 68px);
  background: #d926b5;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(48vw, 34vh, 46px);
            transform: translate3d(48vw, 34vh, 46px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(48vw, 34vh, 46px);
            transform: translate3d(48vw, 34vh, 46px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 80s infinite;
          animation: particle-animation-11 80s infinite;
  opacity: 0.46;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(82vw, 16vh, 57px);
          transform: translate3d(82vw, 16vh, 57px);
  background: #26d956;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(10vw, 63vh, 91px);
            transform: translate3d(10vw, 63vh, 91px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(10vw, 63vh, 91px);
            transform: translate3d(10vw, 63vh, 91px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 80s infinite;
          animation: particle-animation-12 80s infinite;
  opacity: 0.91;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(50vw, 88vh, 30px);
          transform: translate3d(50vw, 88vh, 30px);
  background: #d92650;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(22vw, 1vh, 21px);
            transform: translate3d(22vw, 1vh, 21px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(22vw, 1vh, 21px);
            transform: translate3d(22vw, 1vh, 21px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 80s infinite;
          animation: particle-animation-13 80s infinite;
  opacity: 0.42;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(22vw, 62vh, 35px);
          transform: translate3d(22vw, 62vh, 35px);
  background: #d9a026;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(34vw, 45vh, 74px);
            transform: translate3d(34vw, 45vh, 74px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(34vw, 45vh, 74px);
            transform: translate3d(34vw, 45vh, 74px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 80s infinite;
          animation: particle-animation-14 80s infinite;
  opacity: 0.38;
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(15vw, 80vh, 95px);
          transform: translate3d(15vw, 80vh, 95px);
  background: #26d965;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(88vw, 45vh, 65px);
            transform: translate3d(88vw, 45vh, 65px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(88vw, 45vh, 65px);
            transform: translate3d(88vw, 45vh, 65px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 80s infinite;
          animation: particle-animation-15 80s infinite;
  opacity: 0.95;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(68vw, 40vh, 21px);
          transform: translate3d(68vw, 40vh, 21px);
  background: #d99126;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(80vw, 4vh, 87px);
            transform: translate3d(80vw, 4vh, 87px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(80vw, 4vh, 87px);
            transform: translate3d(80vw, 4vh, 87px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 80s infinite;
          animation: particle-animation-16 80s infinite;
  opacity: 0.5;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(19vw, 69vh, 34px);
          transform: translate3d(19vw, 69vh, 34px);
  background: #91d926;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(28vw, 50vh, 49px);
            transform: translate3d(28vw, 50vh, 49px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(28vw, 50vh, 49px);
            transform: translate3d(28vw, 50vh, 49px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 80s infinite;
          animation: particle-animation-17 80s infinite;
  opacity: 0.74;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(81vw, 3vh, 36px);
          transform: translate3d(81vw, 3vh, 36px);
  background: #26d968;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(65vw, 36vh, 12px);
            transform: translate3d(65vw, 36vh, 12px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(65vw, 36vh, 12px);
            transform: translate3d(65vw, 36vh, 12px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 80s infinite;
          animation: particle-animation-18 80s infinite;
  opacity: 0.47;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(7vw, 44vh, 84px);
          transform: translate3d(7vw, 44vh, 84px);
  background: #26d9ac;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(57vw, 28vh, 87px);
            transform: translate3d(57vw, 28vh, 87px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(57vw, 28vh, 87px);
            transform: translate3d(57vw, 28vh, 87px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 80s infinite;
          animation: particle-animation-19 80s infinite;
  opacity: 0.04;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(6vw, 89vh, 82px);
          transform: translate3d(6vw, 89vh, 82px);
  background: #d98026;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(72vw, 42vh, 13px);
            transform: translate3d(72vw, 42vh, 13px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(72vw, 42vh, 13px);
            transform: translate3d(72vw, 42vh, 13px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 80s infinite;
          animation: particle-animation-20 80s infinite;
  opacity: 0.08;
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(26vw, 2vh, 8px);
          transform: translate3d(26vw, 2vh, 8px);
  background: #3526d9;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(6vw, 77vh, 10px);
            transform: translate3d(6vw, 77vh, 10px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(6vw, 77vh, 10px);
            transform: translate3d(6vw, 77vh, 10px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 80s infinite;
          animation: particle-animation-21 80s infinite;
  opacity: 0.61;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(32vw, 5vh, 61px);
          transform: translate3d(32vw, 5vh, 61px);
  background: #26d947;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(32vw, 69vh, 95px);
            transform: translate3d(32vw, 69vh, 95px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(32vw, 69vh, 95px);
            transform: translate3d(32vw, 69vh, 95px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 80s infinite;
          animation: particle-animation-22 80s infinite;
  opacity: 0.5;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(57vw, 55vh, 34px);
          transform: translate3d(57vw, 55vh, 34px);
  background: #5026d9;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(83vw, 78vh, 89px);
            transform: translate3d(83vw, 78vh, 89px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(83vw, 78vh, 89px);
            transform: translate3d(83vw, 78vh, 89px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 80s infinite;
          animation: particle-animation-23 80s infinite;
  opacity: 0.06;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(82vw, 47vh, 37px);
          transform: translate3d(82vw, 47vh, 37px);
  background: #d92697;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(44vw, 8vh, 44px);
            transform: translate3d(44vw, 8vh, 44px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(44vw, 8vh, 44px);
            transform: translate3d(44vw, 8vh, 44px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 80s infinite;
          animation: particle-animation-24 80s infinite;
  opacity: 0.28;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(65vw, 19vh, 8px);
          transform: translate3d(65vw, 19vh, 8px);
  background: #26d93e;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(78vw, 54vh, 100px);
            transform: translate3d(78vw, 54vh, 100px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(78vw, 54vh, 100px);
            transform: translate3d(78vw, 54vh, 100px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 80s infinite;
          animation: particle-animation-25 80s infinite;
  opacity: 0.85;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(4vw, 48vh, 51px);
          transform: translate3d(4vw, 48vh, 51px);
  background: #d92685;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(40vw, 47vh, 53px);
            transform: translate3d(40vw, 47vh, 53px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(40vw, 47vh, 53px);
            transform: translate3d(40vw, 47vh, 53px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 80s infinite;
          animation: particle-animation-26 80s infinite;
  opacity: 0.04;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(10vw, 79vh, 89px);
          transform: translate3d(10vw, 79vh, 89px);
  background: #cad926;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(78vw, 26vh, 2px);
            transform: translate3d(78vw, 26vh, 2px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(78vw, 26vh, 2px);
            transform: translate3d(78vw, 26vh, 2px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 80s infinite;
          animation: particle-animation-27 80s infinite;
  opacity: 0.57;
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(53vw, 12vh, 14px);
          transform: translate3d(53vw, 12vh, 14px);
  background: #d9263e;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(78vw, 59vh, 83px);
            transform: translate3d(78vw, 59vh, 83px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(78vw, 59vh, 83px);
            transform: translate3d(78vw, 59vh, 83px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 80s infinite;
          animation: particle-animation-28 80s infinite;
  opacity: 0.61;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(44vw, 36vh, 84px);
          transform: translate3d(44vw, 36vh, 84px);
  background: #d9d026;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(44vw, 68vh, 1px);
            transform: translate3d(44vw, 68vh, 1px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(44vw, 68vh, 1px);
            transform: translate3d(44vw, 68vh, 1px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 80s infinite;
          animation: particle-animation-29 80s infinite;
  opacity: 0.57;
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(56vw, 48vh, 54px);
          transform: translate3d(56vw, 48vh, 54px);
  background: #26a6d9;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(15vw, 38vh, 70px);
            transform: translate3d(15vw, 38vh, 70px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(15vw, 38vh, 70px);
            transform: translate3d(15vw, 38vh, 70px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 80s infinite;
          animation: particle-animation-30 80s infinite;
  opacity: 0.65;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(6vw, 44vh, 88px);
          transform: translate3d(6vw, 44vh, 88px);
  background: #26bbd9;
}

.page-item {
  display: inline-block;
  padding: 5px;
}

.pagination {
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}

.gold {
  color: #F2CF65;
}

.lr-page {
  padding: 8% 0 0;
  margin: auto;
  border-radius: 15px;
}

.form-lr {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  padding-top: 20px;
  text-align: center;
  border-radius: 40px;
  -webkit-box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
          box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
}

.form-lr .errors {
  font-size: 14px;
  color: #FF0066;
}

.form-lr input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.form-lr button {
  width: 100%;
}

.form-lr .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form-lr .message a {
  color: #FF0066;
  text-decoration: none;
}

.remember {
  margin: 15px 0 0;
}

.remember .checkbox {
  width: auto;
  vertical-align: middle;
  margin: 0px !important;
  margin-right: 5px !important;
  color: #b3b3b3;
  border-radius: 0px !important;
}

.remember .label {
  font-size: 12px;
  color: #b3b3b3;
}

.lr-icon {
  height: 25px;
  margin: 0 auto;
  opacity: 0.9;
}

.chatMessages {
  background-color: white;
  -webkit-box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
          box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
  height: 500px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 100%;
  overflow-y: scroll;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatMessages::-webkit-scrollbar {
  width: 10px;
}

.chatMessages::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.chatMessages::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.chatWrapper {
  overflow: auto;
  height: auto !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chatWrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chatWrapper ul li {
  display: inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 6px;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 250px;
  word-wrap: break-word;
}

.sysMessageWrapper {
  width: 100%;
  overflow: auto;
  height: auto !important;
  text-align: center;
}

.sysMessage {
  width: 100%;
  background: #F2CF65;
  color: white;
}

.chatDate {
  font-size: 14px;
  opacity: 0.7;
  display: block;
}

.other {
  background: #FF0066;
  color: white;
  float: left;
  margin-left: 10px;
}

.me {
  float: right;
  background: #eee;
  margin-right: 10px;
}

.chatTitle {
  font-weight: 400;
  font-size: 25px;
}

.sendInput {
  height: 50px;
  border: 1px solid #CCC;
  border-radius: 7px;
  width: 300px;
  outline: none;
  padding-left: 20px;
  font-size: 15px;
  margin-right: 15px;
}

.printJobDetailsRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.printJobDetailsFiles {
  padding: 40px;
  background-color: white;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
          box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
  max-width: 500px;
  word-wrap: break-word;
}

.printJobDetailsFiles a {
  text-decoration: underline;
  line-height: 30px;
}

.printJobStatus {
  font-size: 30px;
}

.detailsForPrinter {
  padding: 40px;
  -webkit-box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
          box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
  border-radius: 30px;
  background-color: white;
}

.actionsForPrinter {
  padding: 40px;
  -webkit-box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
          box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
  border-radius: 30px;
  background-color: white;
}

.actionsForPrinter a {
  line-height: 30px;
}

.totalPricePrintjob {
  font-size: 25px;
  font-weight: 600;
  color: #F2CF65;
}

.printjobDone {
  padding: 40px;
  -webkit-box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
          box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
  border-radius: 30px;
  background-color: white;
  text-align: center;
}

.printerTags span {
  font-size: 12px;
  background-color: #b8b8b8;
  color: white;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  display: inline-block;
}

.printJobDate {
  position: absolute;
  right: 60px;
  color: #818181;
  text-align: right;
}

.printJobDate span {
  margin-top: 20px;
  color: #bdbdbd;
}

.letsEncrypt {
  height: 60px;
}

.rowFilesAndPrinter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

.rowFilesAndPrinter .wrapper {
  text-align: center;
}

.rowFilesAndPrinter .wrapper .block {
  background: white;
  -webkit-box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
          box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
  border-radius: 40px;
  padding: 20px;
  height: 150px;
  width: 300px;
  margin-top: 20px;
}

.fileUpload {
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: url("https://socialprint-site-files.s3.eu-west-3.amazonaws.com/upload.svg") 0 0 no-repeat;
  opacity: 0.5;
  background-position: 50%, 50%;
  background-size: 40px 40px;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  outline: none;
}

.fileUpload:hover {
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.fileUploadPrice {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 50px;
}

.fileUploadCalculations {
  font-size: 25px;
}

#mymap {
  height: calc(100vh - 127px);
  z-index: 1;
}

.algoliaboxmap {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 900;
  width: 450px;
  font-size: 1.3em;
}

.algoliaboxmap input {
  border-radius: 50px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 12px 0;
          box-shadow: rgba(0, 0, 0, 0.2) 0 2px 12px 0;
  height: 60px;
  border: none;
  padding-left: 25px;
}

.ap-dropdown-menu {
  width: calc(100% - 40px) !important;
  left: 20px !important;
  right: 20px !important;
}

.logo_icon {
  position: absolute;
  bottom: 35px;
  right: 65px;
  z-index: 900;
  height: 28px;
}

.marker-cluster-small {
  background-color: rgba(255, 0, 102, 0.19);
  color: white;
}

.marker-cluster-small div {
  background-color: #FF0066;
}

.leaflet-popup-tip {
  width: 0px;
  height: 0px;
}

.leaflet-popup-content-wrapper {
  text-align: center;
  width: 250px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;
}

.leaflet-popup-content {
  width: 100% !important;
  margin: 0px !important;
  padding: 40px;
}

.logo {
  margin: 0;
}

.logo img {
  height: 30px;
  margin-bottom: 10px;
}

.main-nav {
  margin-top: 5px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 2px;
}

.logo a,
.main-nav a {
  padding: 10px 6px;
  text-align: center;
  display: block;
  font-size: 0.8em;
}

.header {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: #FF0066;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header {
  width: 80%;
  margin: 0 auto;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header,
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav a {
  color: #fffcff;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  position: relative;
}

.main-nav:hover a {
  color: rgba(255, 252, 255, 0.7);
}

.main-nav a:hover {
  color: #fffcff;
}

.lighter {
  color: rgba(255, 252, 255, 0.7) !important;
}

.brighter {
  color: #fffcff !important;
}

.chatBadge {
  font-size: 10px;
  position: absolute;
  top: 1px;
  right: -2px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 2px;
  color: #FF0066;
}

.algoliaboxProfile {
  width: 300px;
  margin: 0 auto;
  text-align: left;
}

.algoliaboxProfile .ap-dropdown-menu {
  width: 100% !important;
  left: 0px !important;
  right: 0px !important;
}

.accountInputStyled {
  border: 1px solid #CCC;
  border-radius: 3px;
  height: 40px;
  padding-left: 16px;
  font-size: 16px;
  width: 300px;
  outline: none;
}

.accountSubtitle {
  color: #FF0066;
  font-size: 20px;
  display: block;
  font-weight: 600;
  text-decoration: underline;
}

.busNr {
  width: 50px;
  text-align: center;
  padding: 0px;
}

.accountmap {
  width: 600px;
  margin: 0 auto;
}

.logoutBtn {
  position: absolute;
  right: 60px;
  color: grey;
  text-decoration: underline;
}

.accountInputPp {
  width: 50px;
  padding: 0px;
  text-align: center;
}

.greyLink {
  color: grey;
  text-decoration: underline;
}

.accountTypeWrapper {
  margin-top: 50px;
}

.accountTypeItem {
  background-color: inherit !important;
}

.accountTypeOption {
  font-weight: 400;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.accountTypeOption:hover {
  color: #FF0066;
}

.profileImageUpload {
  border-radius: 1000px;
  height: 70px;
  width: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.favoritesWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.favoritesWrapper .favoriteItem {
  -webkit-box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
          box-shadow: 2px 2px 10px rgba(68, 68, 68, 0.1);
  background: white;
  border-radius: 35px;
  width: 350px;
  padding: 30px;
  word-break: break-word;
  margin-bottom: 40px;
  cursor: pointer;
}

.favoritesWrapper .userHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favoritesWrapper .userHeader .favoriteTitle {
  margin-left: 25px;
}

.favoritesWrapper .userHeader .favoriteName {
  font-size: 25px;
  line-height: 30px;
}

.favoritesWrapper .userHeader .favoriteAddress {
  opacity: 0.7;
  font-size: 14px;
  line-height: 20px;
}

.favoritesWrapper .favoriteButtons {
  text-align: center;
  margin-top: 40px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #343434;
}

footer a {
  color: white;
  padding: 10px;
}

footer .footerLogo {
  height: 25px;
  opacity: 0.8;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 1025px) {
  #mymap {
    height: calc(100vh - 98px);
  }

  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main-nav a {
    padding: 10px 25px;
    font-size: 1.1em !important;
  }

  .main-nav {
    margin-right: 40px !important;
  }

  .logo {
    margin-left: 40px !important;
  }

  .logo img {
    vertical-align: bottom;
    height: 50px;
    margin-bottom: 0px;
  }

  .row {
    grid-template-columns: repeat(2, 1fr);
  }

  .leaflet-popup-content-wrapper {
    width: 400px;
  }

  .chatBadge {
    top: 2px;
    right: 9px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .chatWrapper {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .chatWrapper ul li {
    max-width: 500px;
  }

  .other {
    margin-left: 40px;
  }

  .me {
    margin-right: 40px;
  }
}

@media (max-width: 1025px) {
  .algoliaboxmap {
    width: calc(100% - 40px);
    right: 20px;
  }

  .bigTitle {
    margin-top: 40px;
    margin-bottom: 35px;
    font-size: 25px;
  }

  .container {
    padding: 15px;
    min-height: calc(100vh - 127px);
  }

  .rowFilesAndPrinter {
    display: block;
  }

  .rowFilesAndPrinter .wrapper {
    margin-top: 30px;
  }

  .rowFilesAndPrinter .wrapper .block {
    width: 100%;
  }

  .vhFirstPage {
    height: calc(100vh - 127px);
  }

  .graphicContainer img {
    display: none;
  }

  .frontPageInfoBlock {
    width: 100%;
  }

  .frontPageInfoBlock .frontPageTitle {
    font-size: 40px;
  }

  .accountmap {
    width: 100%;
  }

  .logoutBtn {
    right: 20px;
  }

  .printJobDetailsRow {
    display: block;
    word-wrap: break-word;
  }

  .printJobDetailsRow div {
    margin-bottom: 25px;
  }

  .chatTitle {
    font-size: 20px;
  }

  .sendInput {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .printJobDate {
    right: 20px;
    font-size: 12px;
  }
}

